// Scss Document

$primary:#6D007D;
$secondary:#EF1855;
$alternative:#FDEC07;
$black:#04000A;
$gray:#5A5A5A;
$light-gray:#BEBEBE;
$light-gray2:#EBEBEB;
$light-bg:#FDF8FF;
$off-white:#f8f8f8;
$white:#fff;

@font-face {
    font-family: 'nirmala_uiregular';
    src: url('../fonts/nirmala-webfont.woff2') format('woff2'),
         url('../fonts/nirmala-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
*{ margin:0; padding:0; box-sizing: border-box; color:$gray; font-family: 'Poppins', sans-serif; font-size: 14px;}
p{font-family: 'nirmala_uiregular'; color:$gray; font-size: 16px; line-height: 26px;}
img{max-width: 100%;}
.mlr-auto{margin-left:auto; margin-right:auto;}
@media (min-width: 1200px){
.container { max-width: 1200px; }
}

@media (max-width:767px){
		.header-top{ display: none !important; }
	}

.home{
header{ width: 100%; position: absolute; left: 0; top: 0; z-index: 10;
	.navbar-nav li:hover>ul.dropdown-menu {display: block;width:max-content;}
	.navbar-light .navbar-nav .nav-link{font-size: 14px; font-weight: 500; text-transform: uppercase; color:$black; padding: 0 15px; transition: all 0.3s ease-in-out;
	svg{fill:$black; transition: all 0.3s ease-in-out;}
	}
	.navbar-nav li:hover>ul.dropdown-menu{
		ul{list-style: none; }
		.dropdown-item{color:$gray; background:none; font-size: 14px; font-family: 'nirmala_uiregular'; }
		.dropdown-item:hover{color:$secondary; background:none;  }
		.heading{font-size:12; font-weight: 500; text-transform: uppercase; padding:10px 1.5rem; color:$black;}
	}	
	
	.navbar-light .navbar-nav .nav-link:hover{color:$secondary;
	svg{fill:$secondary;}
	}
	.nav-bt1{border-top: 1px solid $light-gray2;}
	.weather{display: flex; align-items: center; margin: 0 0 0 0; padding: 0;  
		.icn{margin-right:6px;}
		.value{font-size: 16px; line-height: 12px; font-family: 'nirmala_uiregular'; color:$gray;}
		.text{width: 100%; display: inline-block;margin: 0 0 0 0; padding: 0; font-family: 'Poppins', sans-serif; color:$black; font-size: 11px; font-weight: 500; text-transform: uppercase;}
	}
	.login{ margin-left:25px; text-decoration: none; 
	svg{fill:$secondary;transition: all 0.3s ease-in-out;}
	}
	.login span{color:$secondary; font-weight: 500;transition: all 0.3s ease-in-out;}
	.login:hover{ 
	svg{fill:$primary !important;}
		span{color:$primary;}
	}
	.getstarted{background:$secondary; border-radius:8px;  padding:8px 15px; transition: all 0.3s ease-in-out;  margin-left: 25px; text-decoration: none; min-width: 136px;
		span{font-weight: 500; color:$white;}
	}
	.getstarted:hover{background:$primary;
		img{margin-right:3px;}
	}
	.header-top{padding:12px 0;
	.social-icon a{margin: 0 8px; fill:$black; transition: all 0.5s ease-in-out;}
	.social-icon a:hover{fill:$secondary; }
	.date-sect{font-weight: 500; margin-left: 30px;
		span{color:$secondary; margin-left: 10px; }
		}
		.career-sect{color:$black; font-weight: 500; margin-left: 30px; text-decoration: none; transition: all 0.5s ease-in-out;
		svg{fill:$black; transition: all 0.5s ease-in-out; margin-right:2px;}
		}
		.career-sect:hover{color:$secondary;
			svg{fill:$secondary; }
		}
		
	}
	
	
	}
	.btn-sect{margin-top:32px;}
	.common-btn{background:$secondary; border-radius:10px; height: 56px; display: inline-block; line-height: 56px; font-size: 21px; font-weight: 500; padding:0px 25px; transition: all 0.3s ease-in-out; color:$white; text-decoration: none;}
	.common-btn:hover{background:$primary; color:$white; text-decoration:none;}
	.btn-secondry{color:$primary; font-size: 21px; font-weight: 500; transition: all 0.3s ease-in-out; text-decoration: none; margin-left: 10px;
		svg{fill:$primary;}
	}
	.btn-secondry:hover{color:$secondary; text-decoration: none;
		svg{fill:$secondary;}
	}
	@media (max-width: 1100px){
	.common-btn, .btn-secondry { font-size:17px; }
	}
	
	@media (max-width:991px){
	.common-btn, .btn-secondry { font-size:15px; padding: 0 18px; }
	.common-btn svg{width: 24px;}
		
	}
	
	/*banner*/
	.banner{width: 100%; height: 830px; margin: 0 0; padding-top:110px; background:url("../images/banner/banner-bg.png"); background-size: cover; 
		.banner-inner{width: 100%; margin: 0 0; padding:0px; overflow: hidden;
		.banner_containt{width: 38.5%; 
			h1{font-size: 50px; font-weight: 700; color:$black; line-height: 70px; margin-top: 12%;
				span{margin-left:5px; position: relative; font-size: 50px; font-weight: 700; color:$white; padding:2px 15px;   }
				span:before{position: absolute; content: ""; width: 100%; height:100%; background:$secondary; padding:2px 15px; border-radius: 12px; top:6px; z-index: -1; left: 0; }
				span:after{position: absolute; content: ""; width: 40px; height: 35px; background: url("../images/banner/3line.svg") no-repeat; top: -15px; right: -32px;}
			}	
			h3{font-size:28px; font-weight: 500; color:$black; margin:36px 0 14px;}
			p{font-size:18px; line-height: 30px;}
			
			/* Responsive */
			@media screen and (max-width: 1100px){
				h1{font-size:42px; line-height: normal;
					span{font-size:42px;}
				}
				h3{font-size:24px; margin:30px 0 14px;}
				p{font-size:16px; line-height:26px; margin-bottom:-10px;}
			}
			
		}
			
			.banner-graphics{width:54%; position: relative; margin-top:2.4%; }
			.bnr1-2{max-width:280px; position: absolute; bottom: 21%; left:3%; transition: all 0.3s ease-in-out;}
			.bnr1-3{max-width:180px; position: absolute; bottom:33%; left:14%; z-index: 1; transition: all 0.3s ease-in-out;}
			.bnr1-4{max-width:230px; position: absolute; right: -3%; bottom: 23%; transition: all 0.3s ease-in-out;}
			.bnr1-6{max-width:180px; position: absolute; right: -2%; top:19%; transition: all 0.3s ease-in-out;}
			.dot3{max-width: 42px; position: absolute; top: 5%; left: 24%; transition: all 0.3s ease-in-out;}
			.capsul-big {max-width:46px; position: absolute; right:16%; top:9%; transition: all 0.3s ease-in-out;}
			.capsul-sm{max-width: 30px; position: absolute; right:11%; bottom:25%; transition: all 0.3s ease-in-out;}
			.banner-graphics .bnr1{transition: all 0.3s ease-in-out;}
			.banner-graphics:hover .bnr1{margin-left:-5px;}
			.banner-graphics:hover .bnr1-2{bottom:20.5%; left:6%;}
			.banner-graphics:hover .bnr1-3{bottom:34.5%; left:16%;}
			.banner-graphics:hover .bnr1-4{right: 2%; bottom: 25%;}
			.banner-graphics:hover .capsul-sm{right:8%; bottom:23%;}
			.banner-graphics:hover .bnr1-6{right: -4%; top:17%;}
			.banner-graphics:hover .capsul-big{right:12%; top:6%;}
			.banner-graphics:hover .dot3{top:3%; left: 26%;}
			
			@media screen and (max-width: 767px){
			.banner-graphics{display: none; }
				.banner-inner{display: inline-block !important;}
				.banner_containt{width:100%; }
			}
			
			
		}
		.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span{background:$secondary; transform: rotate(0deg); width: 30px; height: 10px; border-radius: 10px;}
		.owl-theme .owl-dots .owl-dot span{width:10px; height: 10px; border-radius: 10px; margin: 5px; background:$primary;}
		.owl-theme .owl-dots, .owl-theme .owl-nav{position: absolute; left: 50%; bottom: 70px;}
		
		
	}
	.banner_bottom_bg{width: 100%; height: 166px; margin-top:-135px; background: url("../images/banner/bnr-bottom-bg.svg") no-repeat; background-size: cover; position: relative; z-index: 2;}
	
	/* Responsive */
	@media screen and (max-width: 992px){
		.banner{padding-top:66px; height: 620px;}
		.banner_bottom_bg{ background-size: cover; margin-top: -90px; height: 126px;}
	}	
	
	
	.arrow_scroll{font-size:16px; color:$secondary; writing-mode: vertical-lr; text-transform: uppercase; font-weight: 500; margin-top: 50px;
	img{animation: arrowBounce 2s infinite; display: inherit;}
	}
	@keyframes arrowBounce {
	  0% {
		transform: translateY(0);
	  }
	  50% {
		transform: translateY(10px);
	  }
	  100% {
		transform: translateY(0);
	  }
	}
	
/*slider2*/	
.slider2{margin: 0 0; padding: 0 0; position: relative; 
	.slider2_graphics{margin:50px 0 0 ; padding: 0; position: relative; 
		.slider-2-logo { position: absolute; left: 34%; top: 49%; transition: all 0.3s ease-in-out;}
		.img1{ position: absolute; left:7%; top:12%; transition: all 0.3s ease-in-out;}
		.img2{ position: absolute; right:12%; top:13%; transition: all 0.3s ease-in-out;}
		.img3{ position: absolute; left:7%; bottom:5%; transition: all 0.3s ease-in-out;}
		.img4{ position: absolute; right:9%; bottom:8%; transition: all 0.3s ease-in-out;}
	}
	.slider2_graphics:hover .slider-2-logo{ transform: scale(1.2);}
	.slider2_graphics:hover .img1{ left:2%; top:6%;}
	.slider2_graphics:hover .img2{ right:7%; top:7%;}
	.slider2_graphics:hover .img3{ left:2%; bottom:0%;}
	.slider2_graphics:hover .img4{ right:3%; bottom:3%;}
	.section-tag{margin-top:70px;}
	
	/* Responsive */
	@media screen and (max-width: 1100px){
		.img1, .img2, .img3, .img4{width: 130px}
		.slider-2-logo {width: 115px;}
	}
	@media screen and (max-width: 767px){
		.section-tag{margin-top:24px;}
		.slider2_graphics{margin-top: -20px; }
		.img1, .img2, .img3, .img4{width: 120px}
		.slider-2-logo {width:94px;}
	}
}
.slider2:before{width: 55px; height: 56px; position: absolute; content: ""; left: 5%; top:0%; background:url("../images/slider2/play-pink.svg") no-repeat;}
.slider2:after{width: 55px; height: 56px; position: absolute; content: ""; right: 5%; top:0%; background:url("../images/slider2/dot3-purple.svg") no-repeat;}
.section-tag{font-size:21px; font-weight:500; color:$secondary; text-transform: uppercase; margin-bottom: 12px;}
h2{font-size:47px; font-weight:700; color:$primary; line-height: 62px;
	span{margin-left:5px; position: relative; font-size:47px; font-weight: 700; color:$white; padding:2px 15px;   }
	span:before{position: absolute; content: ""; width: 100%; height:100%; background:$secondary; padding:2px 15px; border-radius: 12px; top:6px; z-index: -1; left: 0; }
}
.h3{font-size:28px; font-weight: 500; color:$black; margin:36px 0 14px; line-height:42px; }
.p{font-size:21px; line-height: 34px;}
	
/* Responsive */
	@media screen and (max-width: 1100px){
		h2{font-size:36px; line-height: normal;
			span{font-size:36px;}
		}
		.h3{font-size:24px; margin:30px 0 14px;}
		.p{font-size:16px; line-height:26px; }
		.arrow_scroll{margin-bottom:30px;}
	}
	
	@media screen and (max-width: 992px){
		h2{font-size:26px; line-height: normal;
			span{font-size:26px;}
			span:before{top: 2px;}
		}
		.h3{font-size:18px; margin:30px 0 14px; line-height: normal; }
		.p{font-size:16px; line-height:26px; }
		.section-tag{font-size:18px;}
		.slider2:after{background-size:30px; z-index: 4; top: -20px; right: 0;}
		.slider2:before{background-size:30px; z-index: 4; top: -40px;}
	}
	
/*slider3*/		
.slider3{width: 100%; margin:0px; padding:270px 0 190px; background: url("../images/slider3/bg-tab-sect.png") no-repeat; background-size: cover; position: relative; z-index:2;
	.tab_sect{ /*margin: 0 -8px;*/
		.tiles {position: relative;}
		.title{width: 100%; font-size:16px; font-weight:600; color:$secondary; position: absolute; text-align: center; bottom: 24px; }
		.nav-link.active .tiles{border: 1px solid $secondary; border-radius: 20px;}
		.nav-link.active .tiles:after{width: 0; position: absolute; content: ""; height: 0; border-left:9px solid transparent; border-right:9px solid transparent; border-top:11px solid $secondary; bottom: -12px;  left: 50%; margin-left: -8px; }
		.tiles{ width: 181px; height: 204px; background-size: 100%; }
		.bg-tile1 { background: url("../images/slider3/1.png") no-repeat; }
		.bg-tile2 { background: url("../images/slider3/2.png") no-repeat; }
		.bg-tile3 { background: url("../images/slider3/3.png") no-repeat; }
		.bg-tile4 { background: url("../images/slider3/4.png") no-repeat; }
		.bg-tile5 { background: url("../images/slider3/5.png") no-repeat; }
		.bg-tile6 { background: url("../images/slider3/6.png") no-repeat; }
		.bg-tile7 { background: url("../images/slider3/7.png") no-repeat; }
		.bg-tile8 { background: url("../images/slider3/8.png") no-repeat; }
		.bg-tile9 { background: url("../images/slider3/9.png") no-repeat; }
		.bg-tile10 { background: url("../images/slider3/10.png") no-repeat; }
		.bg-tile11 { background: url("../images/slider3/11.png") no-repeat; }
		.bg-tile12 { background: url("../images/slider3/12.png") no-repeat; }
		.bg-tile13 { background: url("../images/slider3/13.png") no-repeat; }
		.bg-tile14 { background: url("../images/slider3/14.png") no-repeat; }
		.nav-link{padding:0 0px;}
		.tab-content{margin-top:60px;}
		h2 span:before{top: 1px; padding: 0 10%;}
		span:after { position: absolute; content: ""; width: 40px; height: 35px; background: url(../images/banner/3line.svg) no-repeat; top: -25px; right: -32px;}
		.h3{margin-top: 15px; font-size: 21px; color: $gray; padding:16px 10% 0 10%; line-height: normal; margin: 0;
			span:after{display: none;}
			span{font-size: 21px; color:$black; font-weight: 700;}
			span.pink{font-size: 21px; color:$secondary; }
			span.prpl{font-size: 21px; color:$primary; }
			
		}
		.heding-sect{position: relative;
			.arrow_scroll{position: absolute; top: 0; left: 0;}
		}
		.explore-sect{margin-top: 60px;}
		.sub-ttl{ font-size:38px; font-weight:700; color:$black; line-height: 50px; 
			 span{ position: relative; color:$primary; font-size:38px; font-weight:700;
				 img{margin-top:-16px;}
			}
			 span:after{display: none;}
		}
		
	/* Responsive */
		@media screen and (max-width: 1100px){
			.sub-ttl{ font-size:30px;
				span{font-size:30px;}
			}
			.explore-sect{margin-top:30px;}
		}
		
		@media screen and (max-width: 992px){
			.tab-content{margin-top:30px;}
			.tiles{ width: 161px; height: 184px; background-size: 100%; }
		}
		
		@media screen and (max-width: 767px){
			.tiles{ width: 175px; height: 194px; background-size: 100%; }
			.arrow_scroll{display: none;}
			.h3{font-size: 18px; padding:10px 0 0;}
			h2 span:after{display: none;}
			.sub-ttl{ font-size:26px; line-height: normal;
				span{font-size:26px;}
			}
			.explore_content{margin-top: 12px; margin-bottom:20px;}
			
		}
		
		}
	.explore_content{margin-top:23px;}
	.single-faq { margin-bottom:4px; border-radius:0; background:$white; border:1px solid $light-gray2; border-radius:8px; padding:7px 20px; }
	.faq-heading { background-color: transparent; border-bottom:0; padding:0;  }
	.faq-heading h5 a{font-size:16px; font-weight:500; color:$black; display: block; text-align: left; padding:8px 0;  }
	.faq-heading a i{transition: all 0.3s ease-in-out;}
	.faq-heading a:hover i{margin-right:-10px; }
	.faq-heading h5 a[aria-expanded=true] .fa.fa-plus-circle, 
	.faq-heading h5 a[aria-expanded=true] .fa.fa-plus {  display:none; }
	.faq-heading h5 a[aria-expanded=false] .fa.fa-minus-circle, .faq-heading h5 a[aria-expanded=false] .fa.fa-minus {
  display:none; }
	.faq-heading h5 a[aria-expanded=false] { border-bottom:0; }
	.faq-heading h5 a:hover, .faq-heading h5 a:focus { text-decoration:none; }
	.single-faq.style-2 .faq-heading h5 a { border-bottom:0; }
	.single-faq.style-2 .faq-heading h5 a i {  color:#262626; text-align:center; float: right;border-radius: 100%; }
	.single-faq.style-2 .card-body { padding:0px; padding-top:5px; }
	p{font-size: 16px; line-height: 26px;}
	.owl-carousel.owl-drag .owl-item { padding-bottom: 12px;}
	.owl-nav .owl-prev{ width:44px; height: 44px; background: url("../images/slider3/left.svg") no-repeat; float: left; margin-left: -64px; }
	.owl-nav .owl-next{ width:44px; height: 44px; background: url("../images/slider3/right.svg") no-repeat; float: right; margin-right: -74px;}
	.owl-nav{ width: 100%; position: absolute; opacity: 0; z-index: -1; transition: all 0.3s ease-in-out; top: 50%; margin-top: -30px;} 
	.owl-carousel.owl-drag:hover .owl-nav{ opacity:1;} 
	/* Responsive */
	@media screen and (max-width: 1375px) {
		.owl-nav .owl-prev{ margin-left: -55px; }
		.owl-nav .owl-next{margin-right: -64px;}
		.tab_sect{ padding:40px 0 0; }
	}
	
	@media screen and (max-width: 992px){
		.faq-heading h5 a{font-size:14px;}
		p{font-size: 14px; line-height: 24px;}
		}
	
}

@media screen and (max-width:767px){
	.slider3{ padding:60px 0 140px; background: url("../images/slider3/mobile-bg-tab-sect.svg") no-repeat; background-size: contain;}
	}	
	
/*slider4*/		
.slider4{width: 100%; margin:0% 0 0 0; padding:0px 0 70px; background: url("../images/slider4/slider4-bg.png") no-repeat; background-size: cover; position: relative; z-index:2; 
	.section-tag{margin-top:10px;}
	h2 span:after { position: absolute; content: ""; width: 40px; height: 35px; background: url(../images/banner/3line.svg) no-repeat; top: -22px; right: -32px; }
	h2{color:$secondary; line-height: 70px; margin: 0; padding: 0;}
	.span{position: relative; font-size: 47px; font-weight: 700; color:$black; padding: 0;}
	.span:before, .span:after{display: none;}
	.h3{ margin: 15px 0 14px;}
	.card{border-radius:20px; border: 1px solid $light-gray2; transition: all 0.3s ease-in-out; padding-bottom:5px; }
	.card-body{padding: 20px;}
	.mt50{margin-top: 50px;}
	h4{font-size: 21px; font-weight: 600; color: $black; line-height: 31px; margin-top: 10px; }
	h5{font-size:16px; font-weight: 600; color: $gray; line-height:25px; margin-top: 4px; }
	p{margin-top: 10px;}
	.link{font-size:14px; font-weight:500; color:$secondary; text-decoration: none; transition: all 0.3s ease-in-out;
		svg {fill:$secondary; transition: all 0.3s ease-in-out;}
	}
	.link:hover{color:$primary; 
		svg{fill:$primary} 
	}
	.card:hover{box-shadow: 0px 20px 36px #0000001A;}
	
	/* Responsive */
		@media screen and (max-width: 1100px){
			h2{line-height:normal;
				span, .span{font-size: 36px;}
				span:before{top: 3px;}
			}
			.h3{ margin:10px 0 14px;}
			h4{font-size:18px; font-weight: 600; line-height:normal; margin-top: 10px; }
		}
		
	@media screen and (max-width: 992px){
		h2{line-height:normal;
				span, .span{font-size: 26px; margin-left: 0;}
				span:before{top: 3px;}
			}
			.h3{ margin:10px 0 14px;}
			h4{font-size:18px; font-weight: 600; line-height:normal; margin-top: 10px; }
		}
	
	@media screen and (max-width:767px){
	.section-tag{ margin-top: 30px; }
		h2{ 
			span:before{top:0px;}
			span:after{top:-20px; background-size:75%;}
			
			}
		.mt50{margin-top: 10px;}
		.card{margin-bottom: 20px;}
		
	}	
	
	}
	
	@media screen and (max-width: 1100px){
		.slider4{margin-top:-50px; padding-bottom:50px;}	
	}
	@media screen and (max-width:767px){
		.slider4{background-size: contain;}
	}
	
/*slider5*/		
.slider5{width: 100%; margin:0 0 0 0; padding:230px 0 220px; background: url("../images/slider5/slider5-bg.png") no-repeat; background-size: cover; position: relative; z-index:2; 
	.section-tag{color:$alternative;}
	h2, .h3, .p{color: $off-white;}
	.common-btn{background:$alternative; color:$secondary; transition: all 0.3s ease-in-out; margin-top: 21px;
	svg{stroke:$secondary; transition: all 0.3s ease-in-out;}
	}
	.common-btn:hover{background:$primary; color:$alternative;
		svg{stroke:$alternative;}
	}
	
	}
	
/* Responsive */
	@media screen and (max-width: 1100px){
		.slider5{ padding:130px 0 130px;}
	}	
	@media screen and (max-width:767px){
		.slider5{background-size: contain; background: url("../images/slider5/mobile-slider5-bg.svg") no-repeat; padding:60px 0 60px; }
	}
	
	
.slider6{width: 100%; margin:0 0 0 0; padding:80px 0 90px; background: url("../images/slider6/slider6-bg.png") no-repeat; background-size: cover; position: relative; z-index:2;
	h2 span:after { position: absolute; content: ""; width: 40px; height: 35px; background: url(../images/banner/3line.svg) no-repeat; top: -22px; right: -32px; }
	h2{color:$black; line-height: 70px; margin: 0; padding: 0;}
	.p{padding: 0 10%;}
	.content{margin-top: 0;
		h4{font-size: 21px; font-weight: 600; color: $primary; line-height: 31px; margin-top: 10px; }
	}
	.mt60{margin-top: 60px;}
	.slider6_graphics{ padding: 0; position: relative; 
		.slider-6-logo { position: absolute; left: 31%; top: 43%; transition: all 0.3s ease-in-out;
			img{max-width: 100%;}
		}
		.company{ position: absolute; left:-5%; top:2%; transition: all 0.3s ease-in-out;}
		.teams{ position: absolute; left:-5%; bottom:2%; transition: all 0.3s ease-in-out;}
		.individuals{ position: absolute; right:-5%; top:2%; transition: all 0.3s ease-in-out;}
		.prospects{ position: absolute; right:-5%; bottom:2%; transition: all 0.3s ease-in-out;}
		/* Responsive */
		@media screen and (max-width: 1100px){
			.company, .teams, .individuals, .prospects{width: 100px;}
			.slider-6-logo {width: 115px;}
			}
		@media screen and (max-width: 992px){
		.h3{margin:10px 0 14px;  }
		.company, .teams, .individuals, .prospects{width: 90px;}
		.slider-6-logo {width: 80px;}
		}
		@media screen and (max-width: 767px){
		.company, .teams{width:105px; left:0%;}
		.individuals, .prospects{width:105px; right:5px;}
		.slider-6-logo {width:130px;}
		}
	}
	.slider6_graphics:hover .slider-6-logo{transform: scale(1.2);}
	.slider6_graphics:hover .company{left:9%; top:9%;}
	.slider6_graphics:hover .teams{left:9%; bottom:9%;}
	.slider6_graphics:hover .individuals{right:9%; top:9%;}
	.slider6_graphics:hover .prospects{right:9%; bottom:9%;}
	.pr30{padding-right: 30px;}
	.pl30{padding-left: 30px;}
	.mt30{margin-top:30px;}
	
	/* Responsive */
	@media screen and (max-width: 1100px){
		.mt60{ margin-top: 40px; }
	}
	
	@media screen and (max-width: 992px){
		.h3{margin:10px 0 14px;  }
		h2{line-height:normal;
		span:after { display: none;}
		}
		.text-right{ text-align: left !important;}
	}
	
 }
/* Responsive */
	@media screen and (max-width: 1100px){
		.slider6{ padding: 0px 0 20px; }
	}
	
	@media screen and (max-width: 992px){
		.h3{margin:10px 0 14px;  }
		.slider6{ background-size: contain;}
	}
	
	@media screen and (max-width:767px){
		.slider6{ padding-top: 40px; }
		
	}
	
.slider7{width: 100%; margin:0 0 0 0; padding:260px 0 150px; background: url("../images/slider7/slider7-bg.png") no-repeat; background-size: cover; position: relative; z-index:2;
	h2{color: $black; }
	.h3{margin:20px 0 14px; font-size: 27px;}
	.p{margin-bottom: 31px;}
	span.prpl{color: $primary; padding: 0; margin-left: 0; }
	span.pink{color: $secondary; padding: 0; margin-left: 0; }
	span.pink:before, span.prpl:before{display: none;}
	}
	
	/* Responsive */
	@media screen and (max-width: 1100px){
		.slider7{ padding:190px 0 120px; }
	}
	@media screen and (max-width: 767px){
		.slider7{ padding:70px 0 80px; background: url("../images/slider7/mobile-slider7-bg.svg") no-repeat; background-size: cover; }
	}
	
.slider8{width: 100%; margin:0 0 0 0; padding:20px 0 60px; background: url("../images/slider8/slider8-bg.png") no-repeat; background-size: cover; position: relative; z-index:2;
	h2{color: $black; line-height: 70px; }
	.h3{margin:14px 0 14px; font-size: 27px;}
	.p{margin-bottom: 31px;}
	span.prpl{color: $primary; padding: 0; margin-left: 0; }
	span.pink{color: $secondary; padding: 0; margin-left: 0; }
	span.pink:before, span.prpl:before{display: none;}
	
	/* Responsive */
	@media screen and (max-width: 1100px){
		h2{line-height:normal; }
	}
	
	@media screen and (max-width: 992px){
		.h3{font-size: 18px;}
		}
	
	@media screen and (max-width: 767px){
		.section-tag{margin-top:30px;}
		img.mt-5{margin-top:0px !important;}
		}
	
	}
	
	/* Responsive */
	@media screen and (max-width: 1100px){
		.slider8{padding-bottom: 0; }
	}
	@media screen and (max-width: 992px){
		.slider8{ background-size: contain;}
		}
	@media screen and (max-width: 767px){
		.slider8{ background-size: contain;}
		}
	
	.slider9{width: 100%; margin:0 0 0 0; padding:120px 0 140px; background: url("../images/slider9/slider9-bg.png") no-repeat; background-size: cover; position: relative; z-index:2;
		.section-tag{color: $alternative;}	
		h2{color: $alternative; line-height: 70px; }
		.h3{margin:14px 0 14px; font-size: 27px; color: $off-white;}
		.p{margin-bottom: 31px; color: $off-white;}
		span{color:$secondary; }
		span:before{background:$alternative;  }
		span.off-white{color: $off-white; padding: 0; margin-left: 0; }
		span.off-white:before{display: none;}
		
		/* Responsive */
		@media screen and (max-width: 1100px){
			h2{line-height:normal; }
		}
		
		@media screen and (max-width: 992px){
		.h3{font-size: 18px;}
		}
		
		}
	
	@media screen and (max-width: 767px){
		.slider9{ background: url("../images/slider9/mobile-slider8-bg.svg") no-repeat; background-size: cover; padding:50px 0 140px; }
		}
	
	.slider10{width: 100%; margin:0 0 0 0; padding:40px 0 190px; background: url("../images/slider10/slider10-bg.png") no-repeat; background-size: cover; position: relative; z-index:2;
		h2{color: $black; line-height: 70px; }
		.h3{margin:14px 0 14px; font-size: 27px;}
		.p{margin-bottom: 31px;}
		span.prpl{color: $primary; padding: 0; margin-left: 0; }
		span.pink{color: $secondary; padding: 0; margin-left: 0; }
		span.pink:before, span.prpl:before{display: none;}
		
		/* Responsive */
		@media screen and (max-width: 1100px){
			h2{line-height:normal; }
		}
	}
		@media screen and (max-width: 767px){
		.slider10{  background: url("../images/slider10/mobbile-slider10-bg.svg") no-repeat; background-size: cover; padding: 40px 0 118px; }
		}
	
.slider11{width: 100%; margin:-5.5% 0 0 0; padding:70px 0 50px; background: url("../images/slider11/slider11-bg.png") no-repeat; background-size: cover; position: relative; z-index:0;
		h2{color: $alternative; line-height: 70px; }
		h3{font-size:38px; color: $off-white; padding:40px 0 22px; font-weight: 700;
			span{ font-size:38px; font-weight: 700; position: relative; color: $secondary; padding: 2px 15px;}
			span:before{ background: $alternative; padding: 2px 15px; position: absolute; content: ""; border-radius: 12px; top:3px; z-index: -1; left: 0; width: 100%; height: 100%; }
			span:after{position: absolute; content: ""; width: 40px; height: 35px; background: url(../images/slider11/3line.svg) no-repeat; top: -22px; right: -32px;}
		}
		h4{margin:14px 0px 0; font-size: 21px; font-weight: 500; color: $off-white;}
		.p{margin-bottom: 31px; color: $off-white;}
		span.prpl{color: $primary; padding: 0; margin-left: 0; }
		span.pink{color: $secondary; padding: 0; margin-left: 0; }
		span.pink:before, span.prpl:before{display: none;}
	
	/* Responsive */
		@media screen and (max-width: 1100px){
			h2{line-height:normal; }
			h3{font-size:28px; padding-top: 30px;
				span{ font-size:28px;}
			}
		}
	
	}	

	
}


	

